.container{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
/*「サイコロを振る」ボタン関係*/
#rollBtn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
	padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}
#rollBtn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/*すごろくのマス目関係*/
.sugorokuArea{
  overflow: hidden;
}
.masu{
  width: 100%;
  overflow-x: scroll;
}
table{
  width: 10500px;
  border-spacing: 0;
}
td{
  background-color: green;
  border: 1px solid black;
  width:100px;
  height: 100px;
}
.active{
  background-color: red;
}

